<% provide(:title, 'Dashboard') %>
<div class="row-fixed">
	<div class="widget-width center">
		<%= render 'blocks/status_table_expired' %>
	</div>
	<div class="widget-width center">
	 	<%= render 'blocks/status_table_1_month' %>
	</div>
	<div class="widget-width center">
	 	<%= render 'blocks/status_table_2_months' %>
	</div>
	<div class="widget-width center">
		<%= render 'blocks/status_table_3_months' %>
	</div>
</div>