<% provide(:title, 'Dashboard') %>
<div class="row-fixed">
	
		<%= render 'blocks/status_table_expired' %>
	
	
	 	<%= render 'blocks/status_table_1_month' %>
	
	
	 	<%= render 'blocks/status_table_2_months' %>
	
	
		<%= render 'blocks/status_table_3_months' %>
	
</div>