<header>
  <div class="container">
    <div class="row">

      <!-- Logo section -->
      <div class="col-md-4">
        <!-- Logo. -->
        <div class="logo">
        <%= image_tag "oasis_logo.png", :class => "media-object pull-left", :size => '200x60' %>
        </div>
        <!-- Logo ends -->
      </div>

        <!-- Buttons -->
        <ul class="nav nav-pills pull-left">
        <li>
          <a>
            <i class="icon-remove-sign"></i> Expired <span class="label label-danger"><%= @expired = badge_expired %></span> 
          </a>
        </li>
        <li>
          <a>
            <i class="icon-minus-sign"></i> Soon <span class="label label-warning"><%= @soon = badge_soon %></span> 
          </a>
        </li>
        <li>
          <a>
            <i class="icon-thumbs-up"></i> Good <span class="label label-success"><%= @good = badge_good %></span> 
          </a>
        </li>           
        </ul>

        <ul class="nav nav-pills pull-right">
        <li>
          <a href="/records/new">
            <i class="icon-plus"></i> Add Record
          </a>
        </li>           
        </ul>

    </div>
  </div>
</header>
