<footer class="footer-border">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
            <!-- Copyright info -->
            <p class="copy">Copyright © <%= Date.today.year %> | <%= link_to "The Oasis Initiative", 'http://www.oasisinitiative.net' %> </p>
      </div>
    </div>
  </div>
</footer>