<% provide(:title, 'New Course') %>

<div class="widget wgreen widget-width">
  <div class="widget-head">
    <div class="pull-left"><%= yield(:title) %></div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content padd">

<%= render 'form' %>

  </div>
</div>