body {
	background-color: #f2f2f2;
}

.header-push {
	margin-top: 40px;
}

.half-width {
	width: 50%;
}

.push-right{
	margin-left: 5%''
}

.push-left{
	margin-right: 5%''
}

.widget-width {
	width: 80%;
	margin: 25px;
}

.report-width {
	width: 90%;
	margin: 25px;
}

.center
{
margin-left:auto;
margin-right:auto;
}

.align-top{
	vertical-align:top;
	display: inline-block;
}

.footer-border {
	padding: 25px;
	padding-top: 10px; 
	padding-bottom: 5px; 	
	border-top: 3px solid LightGray;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  #brand-header { display: none; }
  .mobile-hide{ display: none; }
}